<title>
  <%= gettext("%{subnetwork} %{network} Explorer", subnetwork: LayoutView.subnetwork_title(), network: LayoutView.network_title()) %>
</title>
<meta name="description" content="<%= gettext "Blockchain explorer for the %{subnetwork} %{network}. ", subnetwork: LayoutView.subnetwork_title(), network: LayoutView.network_title() %>">
<meta name="keywords" content="SX, blockchain, api, analytics, address, smart contract">
